.btnGameScreen{

    background: #ab1e2f;
    width: 12%;
    padding: 1.5%;
    border: none;
    margin-top: 15%;
    margin-left: 44.2%;
    font-size: 120%;
    color: white;
    font-family: Arial;
    cursor: pointer;
    border-radius: 7%;
    border-radius: 10%;
    box-shadow: 0 5px black;
    border-width: 5%;   
}

.btnGameScreen:hover {background-color: #ab1e2f}
  
.btnGameScreen:active {
    background-color: #ab1e2f;
    box-shadow: 0 2px #ab1e2f;
    transform: translateY(4px);
}

.divRodape{
    font-family: Arial;
    text-align: center;
    color: white;
    font-size: 100%;
    position: absolute;
    background-color: black;
    height: 7%;
    width: 100%;
    z-index: 1;
    bottom: 0px; 
}