<%- contentFor('body') %>
<header>
    <nav>
        <div class="nav-wrapper" style="background: #ab1e2f">
            <div class="brand-logo center">Combate</div>
        </div>
    </nav>
</header>
<main>
    <button class="btnGameScreen" onclick="GoToChooseOponentsScreen();">Montar Game</button>
    <footer>
        <div class="divRodape">Católica Jaraguá do Sul - SC</div>
    </footer>
</main>